{# templates/admin/modifier_utilisateur.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier un utilisateur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-3">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
